[Unit]
Description=Create OVS bridge for external network
DefaultDependencies=no
Wants=ovsdb-server.service
Wants=ovs-vswitchd.service
After=ovsdb-server.service
After=ovs-vswitchd.service
Before=network-online.target
PartOf=network.target

[Service]
Type=oneshot
ExecStart=/usr/bin/ovs-vsctl -- --may-exist add-br br-ex
ExecStart=/usr/bin/ovs-vsctl -- --may-exist add-port br-ex bond0
ExecStartPost=-/usr/bin/ip link set br-ex up
RemainAfterExit=yes
TimeoutSec=0
StandardOutput=journal

[Install]
WantedBy=default.target
