#!/usr/bin/env bash
set -Eeuo pipefail

# Undo the gardener feature disablement
systemctl enable ssh

# UID taken from sles 15, looks like it runs as root in debian/gardenlinux
adduser --uid 476 openvswitch \
  --system --group --no-create-home --disabled-password --disabled-login

adduser root openvswitch # Otherwise does not want to run as root:openvswitch

# make os_release compliant to systemd spec
cat >> /etc/os-release << EOF
IMAGE_VERSION=${BUILDER_VERSION}
VARIANT_ID=${BUILDER_CNAME%-*}
EOF

# Add correct root partition to cmdline
echo "DEVICE=\"LABEL=garden_${BUILDER_VERSION}\"" > /etc/kernel/cmdline.d/000-root.cfg

function create() {
  NAME=$1
  shift
  ID=$1
  shift
  addgroup --gid $ID $NAME
  adduser --uid $ID --home /var/lib/$NAME $NAME \
     --gid $ID --disabled-password --disabled-login \
     --shell /usr/sbin/nologin
  echo "$@"
  for group in "$@"; do
    adduser $NAME $group
  done
}

create openstack 42424
create neutron 42435 openvswitch
create nova 42436 libvirt openvswitch
mkdir -p /var/lib/nova/{.ssh,instances,mnt}
chown -R nova:libvirt-qemu /var/lib/nova/{instances,mnt}

# limit vnc port autorange to possible kubernetes nodeports
sed -i 's/#remote_display_port_min = 5900/remote_display_port_min = 32200/' /etc/libvirt/qemu.conf
sed -i 's/#remote_display_port_max = 65535/remote_display_port_max = 32299/' /etc/libvirt/qemu.conf
