// Allow kvm-node-agent to manage specific service units;
// fall back to implicit authorization otherwise.

const units = ["systemd-sysupdate", "libvirtd", "virt-admin"];
polkit.addRule(function(action, subject) {
    if (action.id == "org.freedesktop.systemd1.manage-units" &&
    subject.user == "kvm-node-agent" &&
    units.filter(function (unit) { return action.lookup("unit").startsWith(unit) }).length ) {
        return polkit.Result.YES;
    }
});