#!/usr/bin/env bash
set -Eeuo pipefail

systemctl enable ignition-disable.service

K8S_VERSION=v1.30.7
K8S_VERSION_REPO="${K8S_VERSION%.*}"

# TODO this needs to be aligned with the metal3 feature
gpg --dearmor -o "/etc/apt/keyrings/kubernetes-${K8S_VERSION_REPO}-apt-keyring.gpg" </builder/features/metal3/pkgs-k8s-io_1.30_release.key
echo "deb [signed-by=/etc/apt/keyrings/kubernetes-${K8S_VERSION_REPO}-apt-keyring.gpg] https://pkgs.k8s.io/core:/stable:/${K8S_VERSION_REPO}/deb/ /" | tee /etc/apt/sources.list.d/kubernetes-${K8S_VERSION_REPO}.list
apt update -y
apt install -y --no-install-recommends "cri-tools=${K8S_VERSION_REPO#v}*"
