#!/usr/bin/env bash
set -Eeuox pipefail

# Undo the gardener feature disablement (for now)
systemctl enable containerd

TEMP_DEB_DIR="$(mktemp -d)"

# gh release download --dir "$TEMP_DEB" --repo "$repo" "$tag"
package_name="ignition"
repo="cobaltcore-dev/package-$package_name"
tag="2.20.0-0gl0"
checksum="e65f565eb298289ad9bacce40fe577845673fdf44d974758ef2ad5a7d4ade5a2"
arch="$(dpkg --print-architecture)"

urls=$(curl -s "https://api.github.com/repos/${repo}/releases/tags/$tag" | jq -r '.assets.[].browser_download_url' | grep "build.tar.xz")
for url in $urls; do
  (cd "$TEMP_DEB_DIR" && curl -OL "$url")
done

cat "$TEMP_DEB_DIR"/build.tar.xz* | xz -d | tar -C "$TEMP_DEB_DIR" -x
echo "${checksum}" "$TEMP_DEB_DIR/${package_name}_${tag}_${arch}.deb" | sha256sum -c || exit 1
DEBIAN_FRONTEND=noninteractive dpkg -i "$TEMP_DEB_DIR/${package_name}_${tag}_${arch}.deb"
rm -rf "$TEMP_DEB_DIR"

apt-mark hold ${package_name}

# crictl
K8S_VERSION=v1.30.7
K8S_VERSION_REPO="${K8S_VERSION%.*}"

gpg --dearmor -o "/etc/apt/keyrings/kubernetes-${K8S_VERSION_REPO}-apt-keyring.gpg" </builder/features/metal3/pkgs-k8s-io_1.30_release.key
echo "deb [signed-by=/etc/apt/keyrings/kubernetes-${K8S_VERSION_REPO}-apt-keyring.gpg] https://pkgs.k8s.io/core:/stable:/${K8S_VERSION_REPO}/deb/ /" | tee /etc/apt/sources.list.d/kubernetes-${K8S_VERSION_REPO}.list
apt update -y
apt install -y --no-install-recommends "cri-tools=${K8S_VERSION_REPO#v}*"
