#!/usr/bin/env bash
set -Eeuox pipefail

# Undo the gardener feature disablement (for now)
systemctl enable containerd

TEMP_DEB_DIR="$(mktemp -d)"

# gh release download --dir "$TEMP_DEB" --repo "$repo" "$tag"
package_name="ignition"
repo="cobaltcore-dev/package-$package_name"
tag="2.20.0-0gl0"
checksum="e65f565eb298289ad9bacce40fe577845673fdf44d974758ef2ad5a7d4ade5a2"
arch="$(dpkg --print-architecture)"

urls=$(curl -s "https://api.github.com/repos/${repo}/releases/tags/$tag" | jq -r '.assets.[].browser_download_url' | grep "build.tar.xz")
for url in $urls; do
  (cd "$TEMP_DEB_DIR" && curl -OL "$url")
done

cat "$TEMP_DEB_DIR"/build.tar.xz* | xz -d | tar -C "$TEMP_DEB_DIR" -x
echo "${checksum}" "$TEMP_DEB_DIR/${package_name}_${tag}_${arch}.deb" | sha256sum -c || exit 1
DEBIAN_FRONTEND=noninteractive dpkg -i "$TEMP_DEB_DIR/${package_name}_${tag}_${arch}.deb"
rm -rf "$TEMP_DEB_DIR"

apt-mark hold ${package_name}

# crictl
CRI_VERSION=1.27.0

wget --show-progress --progress=bar:force -4 -P /opt/bin \
  https://github.com/kubernetes-sigs/cri-tools/releases/download/v${CRI_VERSION}/crictl-v${CRI_VERSION}-linux-amd64.tar.gz

tar -C /opt/bin -xf /opt/bin/crictl-v${CRI_VERSION}-linux-amd64.tar.gz

rm -f /root/.wget-hsts crictl-v${CRI_VERSION}-linux-amd64.tar.gz
